body{
  margin:2px;
}
.topBar{
  height:50px;
  width:100%;
  background-color:#118BC0;
}
.heroBox{
  height: 1110px;
  width:100%;
  background-color: #344051;
  padding-top: 170px;
}
.textOffer{
  float:left;
  font-size:70px;
  font-weight: bold;
  color:white;
  margin-left:22%;
}
.textOfferTwo{
  float:left;
  margin-left:41%;
  font-size:70px;
  font-weight: bold;
  color:white;
}
.textOfferThree{
  margin-top:45px;
  float:left;
  margin-left:34%;
  font-size:30px;
  color:white;

}
.textOfferFour{
  float:left;
  font-size:30px;
  margin-left:35%;
  color:white;
}

.offerButton{
  background-color: #118BC0;
  height:50px;
  width:44%;
  margin:40px 25% 0 25%;
  float:left;
  border:10px solid #20212A;
}

.carret{
  width:11%;
  height:20px;
  margin:220px 43% 130px 43%;
  background:white;
  float:left;
}

.capability{
  float:left;
  height:70px;
  width:65%;
  margin:0 17% 30px 17%;
  background:white;
}

.topDetail{
  height:185px;
  width:100%;
  background: #E8F0F5;
}

.detailContainer{
  height:1605px;
  width:100%;
  background:#D1D3D7;
  padding-top:30px;
}

.detailInnerSmall{
  float:left;
  margin: 0px 2% 30px 2%;
  background:white;
  width:95%;
  height:215px;
}

.detailInnerBig{
  float:left;
  margin: 0px 2% 30px 2%;
  background:white;
  width:95%;
  height:240px;
}

.offerBox{
  width:100%;
  height:170px;
  background: #E8F0F8;
}

.offerButtonBottom{
  height:50px;
  width:45%;
  margin:100px 27% 0 27%;
  background: #1E8CBE;
  float:left;
}

.footerBox{
  height:130px;
  width:100%;
  background:black;
}

.navBottomTop{
  float:left;
  color:white;
  margin:15px 0 0 33%;;
}

.navBottomBottom{
  float:left;
  color:white;
  margin:15px 0 25px 39%;
}

.autoMatic{
  float:left;
  height:25px;
  width: 30%;
  margin:0 35% 0 35%;
  background:white;
}
