body{
  margin:2px;
}
/*Header Style*/
.topBar{
  height:50px;
  width:100%;
  background-color:#118BC0;
}

.logoBox{
  float:left;
  height: 60%;
  width:6%;
  margin: 10px 2% 10px 2%;;
  background:white;
}

.logoText{
  float:left;
  height:60%;
  width:26%;
  margin-top:10px;
}
.wordpress{
  float:left;
  font-size:26px;
  color:white;
}

.com{
  color: #74B7D4;
}
.loginButton{
  float:right;
  height:100%;
  width: 15%;
  background: #0070A4;
  border:none;
  color: white;
  font-size: 20px;
}

/*Hero Styles*/
.heroBox{
  height: 1110px;
  width:100%;
  background-color: #344051;
  padding-top: 170px;
}
.heroBox h1, .heroBox h2{
  font-size:75px;
  font-weight: bold;
  color:white;
  margin:0;
  text-align: center;
}

.heroBox h2{
  margin-bottom: 45px;
}
.heroBox h3{
  font-size:35px;
  color:white;
  text-align: center;
  margin:0;
}

.offerButton{
  background-color:#118BC0;
  height:70px;
  width:45%;
  margin:40px 25% 0 27%;
  float:left;
  border: 10px solid black;
  display:block;
}

.carret{
  width:11%;
  height:22px;
  margin:220px 43% 130px 45%;
  background:white;
  float:left;
}

.capability{
  float:left;
  height:65px;
  width:65%;
  margin:0 17% 30px 18%;
  background:white;
}
.picImage{
  height:55px;
  width:15%;
  margin:10px 0.2% 0 0;
  background: #5B6776;
  float:left;
}

.picImageText{
  height:55px;
  width:80%;
  float:right;
  margin: 0 0.5% 10px 0;
  background:#5B6776;
}
.picImageText span{
  font-size:1.6em;
  margin:0;
  color:white;
  text-align:left;
}

.picImageText span:nth-child(3){
  font-size:1.0em

}
/*Detail Section Style*/
.topDetail{
  height:185px;
  width:100%;
  background: #E8F0F5;
  font-size:1.6em;
  color:#392F5A;
  text-align:center;
  margin:0;
  padding-top: 20px;
}

.detailContainer{
  height:1605px;
  width:100%;
  background:#D1D3D7;
  padding-top:90px;
}

.detailInnerSmall{
  float:left;
  margin: 0px 2% 30px 2.5%;
  background:white;
  width:95%;
  height:215px;
}
.detailInnerSymbol{
  height:60px;
  width:13%;
  margin:20px 41% 10px 43%;
}
.detailInnerTitle{
  height:20px;
  width:93%;
  margin:0 3% 20px 3%;
  text-align:center;
  color:#3A5B75;
  font-size: 1.3em;
}
.detailInnerTextSmall{
  height:45px;
  width:93%;
  margin: 0 3% 0 3%;
  text-align:center;
  color: #black;
  font-size: 1.1em;
}
.detailInnerBig{
  float:left;
  margin: 0px 2% 30px 2.5%;
  background:white;
  width:95%;
  height:240px;
}
.detailInnerTextBig{
  height:70px;
  width:93%;
  margin: 0 3% 0 3%;
  text-align:center;
  color:black;
  font-size: 1.1em;
}
.offerBox{
  width:100%;
  height:170px;
  background: #E8F0F8;
  text-align:center;
  padding-top: 30px;
  font-size: 1.8em;
}

.offerButtonBottom{
  height:50px;
  width:45%;
  margin:50px 27% 0 27%;
  background: #1E8CBE;
  float:left;
  border:none;
  color:white;
}

.footerBox{
  height:130px;
  width:100%;
  background:black;
  padding-top:30px;
}

.footerBox h4{
  color:white;
  text-align:center;
  margin:0 17px 0 0;
}

.navBottomBottom{
  padding:15px 0 25px 0;
}

.autoMatic{
  height:35px;
  width: 30%;
  margin:0 auto;
  background:white;
}
